.work-container {
  display: flex;
  flex-direction: column;
  padding: 150px 100px;
}
.work-title {
  font-size: 30px;
  font-weight: 100;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  width: 350px;
  height: 250px;
  background-color: #e8f9fd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.project-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
